<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383931537249-0di1ka7rgltjotn8h08pj5mjn5hk5mk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383931537249-0di1ka7rgltjotn8h08pj5mjn5hk5mk6</string>
	<key>API_KEY</key>
	<string>AIzaSyBkGK8YheloFWh9cJVvFp30PpF2KlbA0tk</string>
	<key>GCM_SENDER_ID</key>
	<string>383931537249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tecfood.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-8db03</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-8db03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383931537249:ios:db6e789690329c8a46d720</string>
</dict>
</plist>